<div class="flex-column-8 height-100">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Instructions</mat-panel-title>
                <mat-panel-description></mat-panel-description>
            </mat-expansion-panel-header>
            <ul>
                <li>Matchups are produced by the ordering in the Players table.</li>
                <li>Player selection in the Players table carries over here.</li>
                <li>Checking the Show numbered matchups checkbox will show the indexes similar to the printed sheet.</li>
                <li>Matchups can be reordered to help prioritize players leaving early.</li>
                <li>Changes here do not affect the other tabs.</li>
            </ul>
        </mat-expansion-panel>
    </mat-accordion>
    @if (dataSource().length > 0) {
        <div class="flex-row-8">
            <mat-checkbox (change)="showIndexesCheckbox.set($event.checked)">Show numbered matchups</mat-checkbox>
        </div>
    }
    <mat-table #table [dataSource]="dataSource()" cdkDropList
               (cdkDropListDropped)="drop(
                        table,
                        $event.item.data.matchupText,
                        $event.currentIndex
                   )"
               cdkDropListData="dataSource"
               [trackBy]="trackByText"
               [class.is-loading]="isLoading()"
    >
        <ng-container matColumnDef="position" sticky>
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell class="handle" cdkDragHandle *matCellDef="let element">
                <mat-icon>reorder</mat-icon>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="courtIndex">
            <mat-header-cell *matHeaderCellDef>Crt</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.courtIndex }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="rowIndex">
            <mat-header-cell *matHeaderCellDef>№</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ getIndex(element) }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="matchupIndex">
            <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.matchupIndex }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>Matchup</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <!--This won't work as player is a name where as the matchup is made of indexes-->
                <match [matchup]="element.matchupShort" [selectedPlayer]="selectedPlayer()"></match>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="matchup">
            <mat-header-cell *matHeaderCellDef>Full Matchup</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <match [matchup]="element.matchup" [selectedPlayer]="selectedPlayer()"></match>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns(); sticky: true"></mat-header-row>
        <mat-row
                 *matRowDef="let row; columns: displayedColumns(); let i = index" cdkDrag [cdkDragData]="row"
                 [class.selected-row]="selectedIndexes().includes(i)"
                 [class.even-court]="row.courtIndex % 2 === 0"
        >
        </mat-row>
        <div *matNoDataRow>
            @if (isLoading()) {
                Loading...
            } @else {
                Nothing to display. Did you submit the form?
            }
        </div>
    </mat-table>
</div>
