@import "../shared";

.mat-mdc-cell, .mat-mdc-header-cell {
  padding: 0 4px
}

.mat-column-position {
  padding-left: 12px;
  flex: 0 1 50px
}

.mat-column-courtIndex {
  flex: 0 1 30px
}

.mat-column-rowIndex {
  flex: 0 1 25px
}

.mat-column-matchupIndex {
  flex: 0 1 20px
}

.mat-column-id {
  flex: 0 1 70px
}
