<div class="flex-column-16 height-100">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Instructions</mat-panel-title>
                <mat-panel-description></mat-panel-description>
            </mat-expansion-panel-header>
            <ul>
                <li>Use the Add players button to add new players from text input.</li>
                <li>Check or uncheck players to include or exclude them from the Players tab.</li>
                <li>Checking Shuffle players will produce a shuffled Players tab.</li>
                <li>Click Submit to populate the Players and Matches tabs.</li>
            </ul>
        </mat-expansion-panel>
    </mat-accordion>
    <div class="flex-row-8">
        <button matButton type="button" (click)="openAddDialog()">Add players</button>
        <button matButton type="button" (click)="clearAllPlayers()">Clear all players</button>
    </div>
    <form novalidate (submit)="onSubmit($event)" class="flex-column-16 height-100">
        <mat-card appearance="outlined" class="height-100">
            <mat-card-content class="height-100">
                <div class="flex-column-16 height-100">
                    @if (form().names().value().length > 0) {
                        <mat-selection-list aria-label="Player list">
                            @for (nameCheckbox of form().names().value(); track nameCheckbox.name; let i = $index) {
                                <mat-list-option [togglePosition]="'before'" [selected]="nameCheckbox.checked"
                                                 (click)="toggleCheckbox(this.form().names[i].checked)">
                                    <span>{{ nameCheckbox.name }}</span>
                                </mat-list-option>
                            }
                        </mat-selection-list>
                    } @else {
                        Use the Add players button to add players.
                    }
                </div>
            </mat-card-content>
        </mat-card>
        <mat-form-field>
            <mat-label>Minimum games each?</mat-label>
            <input type="number" matInput [formField]="form().minGames">
        </mat-form-field>
        <mat-form-field>
            <mat-label>How many courts?</mat-label>
            <input type="number" matInput [formField]="form().courtCount">
        </mat-form-field>
        <mat-checkbox [formField]="form().shuffle">Shuffle players</mat-checkbox>
        <div class="flex-row-8">
            <button matButton="filled" type="submit" [disabled]="form()().invalid() || !hasCheckedPlayers() || isLoading()">
                Submit
            </button>
        </div>
    </form>
</div>
