.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
}

.form-wrapper {
  padding: 4px;
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
}

.mat-mdc-tab-group {
  padding: 0 8px;
  height: 100%;
}

::ng-deep .mat-mdc-tab-body-wrapper {
  height: 100%;
}

.fill-players-field {
  width: 400px;
}

.mat-mdc-form-field {
    width: 100%;
}

.button-group {
  display: flex;
}

.checkboxes-container {
  border-radius: 4px;
  border: 1px solid #e0e0e0;
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  overflow: auto;
  margin-bottom: 16px;
}

.option-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  width: 100%;
}

.option-label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
