:host {
  display: block;
  height: 100%;
}

.mat-mdc-tab-group, .mat-mdc-tab-body-wrapper {
  height: 100%;
}

.flex-column-16 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.flex-row-8 {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.height-100 {
  height: 100%;
}

.checkboxes-container {
  overflow: auto;
}
