:host {
  display: block;
  height: 100%;
}

.mat-mdc-tab-group, .mat-mdc-tab-body-wrapper {
  height: 100%;
}

.flex-column-160 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.mat-mdc-selection-list {
  flex: 1 1 0;
  overflow: auto;
}

.flex-row-8 {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.height-1000 {
  height: 100%;
}
