.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

form {
  overflow: auto;
}

.mat-mdc-tab-group {
  padding: 0 8px;
  height: 100%;
}

::ng-deep .mat-mdc-tab-body-wrapper {
  height: 100%;
}

.fill-players-field {
  width: 400px;
}

.mat-mdc-form-field {
  width: 100%;
}

.form-wrapper {
  padding: 12px;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 12px;
}

.button-group {
  display: flex;
  gap: 8px;
}

.checkboxes-container {
  flex: 1;
  overflow-y: auto;
  padding: 12px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;

  > div {
    margin: 8px 0;
  }
}
