<div class="container">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Instructions</mat-panel-title>
                <mat-panel-description></mat-panel-description>
            </mat-expansion-panel-header>
            <ul>
                <li>Matchups are produced by the ordering in the Players table.</li>
                <li>Player selection in the Players table carries over here. The matchup text is sorted to include
                    the player at the start for easy identification.
                </li>
                <li>Checkboxes are only to help with tracking games.</li>
            </ul>
        </mat-expansion-panel>
    </mat-accordion>
    <div class="matchups-container">
        @if ((matchups | json) === '{}') {
            @if (isLoading()) {
                Loading...
            } @else {
                Nothing to display. Did you submit the form?
            }
        } @else {
            @for (courtMatchups of matchups() | keyvalue; track courtMatchups.key) {
                <h1>Court {{ courtMatchups.key }}</h1>
                @for (matchup of courtMatchups.value; track serializeMatchup(matchup)) {
                    <div>
                        <mat-checkbox></mat-checkbox>
                        <span [class.selected-row]="matchupContainsPlayer(matchup)">
                            <span [class.selected-player]="matchup.pairing1.player1 === selectedPlayer()">{{ matchup.pairing1.player1 }}</span>-<span [class.selected-player]="matchup.pairing1.player2 === selectedPlayer()">{{ matchup.pairing1.player2 }}</span>
                            v.
                            <span [class.selected-player]="matchup.pairing2.player1 === selectedPlayer()">{{ matchup.pairing2.player1 }}</span>-<span [class.selected-player]="matchup.pairing2.player2 === selectedPlayer()">{{ matchup.pairing2.player2 }}</span>
                        </span>
                    </div>
                } @empty {
                    <div>Nothing to display. Did you submit the form?</div>
                }
            } @empty {
                <div>Nothing to display. Did you submit the form?</div>
            }
        }
    </div>
</div>
