.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.selected-row {
  background-color: lightblue;
}

.selected-player {
  font-weight: bold;
}

.matchups-container {
  overflow: auto;
}
