<ng-container>
    <div>
        <ul>
            <li>Matchups are produced by the ordering in the Players table.</li>
            <li>Player selection in the Players table carries over here. The matchup text is sorted to include the player at the start for easy identification.</li>
            <li>Checkboxes are only to help with tracking games.</li>
        </ul>
    </div>
    @if (matchups().length === 0) {
        @if (isLoading()) {
            Loading...
        } @else {
            Nothing to display. Did you submit the form?
        }
    } @else {
        @for (courtMatchups of matchups(); track courtMatchups.courtIndex) {
            <h1>Court {{ courtMatchups.courtIndex }}</h1>
            @for (courtMatchup of courtMatchups.matchups; track courtMatchup) {
                <div>
                    <mat-checkbox><span [class.selected-row]="isPlayerSelected(courtMatchup)">{{ courtMatchup }}</span></mat-checkbox>
                </div>
            } @empty {
                <div>Nothing to display. Did you submit the form?</div>
            }
        } @empty {
            <div>Nothing to display. Did you submit the form?</div>
        }
    }
</ng-container>
